@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1.title {
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 2.5rem;
  letter-spacing: 0.05em;
  padding-bottom: 2.5rem;
  text-align: left;
}

.menuIcon {
  @apply h-7 mx-auto text-white hover:text-yellow-500 mt-4;
}